.intro{
  background: url(../img/emerald_bay.jpg) no-repeat bottom center scroll ;
  height: 100%;
  width: 100%;
  /* -webkit-background-size: cover; */
  /* -moz-background-size: cover; */
  background-size: cover;
  /* -o-background-size: cover; */
  /* background: cover; */
  /* background: no-repeat; */
}
/* no-repeat bottom center scroll */
